<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
.server-config{
	width: 100%;
	border: 1px solid grey;
		margin: 20px;
}
.config-title{

	font-weight: bold;
	font-size: 2rem;
	margin: 20px;

}

label{

	margin: 5px 10px 5px 20px;
	display: inline-block;
	width: 200px;
}

input{
	width: 400px;
}

table{
	width: 100%;
		border: 1px solid;
}

table td {
	border: 1px solid;
}

td a{
	
	display: inline-block;
		margin: 0 5px;

} 

.delete, .sync, .edit{

	cursor: pointer;
}


.eidt-area{

	width: 100%;
	margin: 30px 10px;
		padding: 5px;
			border: 1px solid;
}
textArea{

	min-height: 100px;
		width: 400px;
}

		</style>
<link rel="shortcut icon" href="about:blank">
	</head>
	<body>
		<form id="server-form">
			<div class="server-config">
				<div class="config-title"> server configuration</div>

				<% Object.keys(model).forEach(key=>{%>
					<div><label for="<%=key%>"><%=key%></label><input id="<%=key%>" name="<%=key%>" type="text" value="<%=model[key]%>" /></div>
				<% }); %>
				<button id="server-submit" type="button">Save</button>
			</div>
		</form>

		<div class="server-config">
				<div class="config-title"> service configuration</div>

				<table>
					<thead>
						<td>service URL</td><td>service method</td><td>service parameter</td><td>action</td>	
					</thead>

					<% serviceList.forEach((service)=>{ %>
					<tr><td class="service-url"><%=service.url %></td><td class="service-method"><%=service.method %></td><td class="service-param"><%=service.param %></td><td><a class="edit">edit</a><a class="delete">delete</a><a class="sync">sync</a></td></tr>	
					<%}) %>
				</table>

				<div class="eidt-area">
					<div><label for="service-method">service Method</label> <input id="service-method" name="serviceMethod"/> </div>
					<div><label for="service-url">service URL</label> <input id="service-url" name="serviceUrl"/> </div>
					<div><label for="service-param">service parameter</label> <textArea id="service-param" name="serviceParam"></textArea> </div>
					<div><label for="service-data">service data</label> <textArea id="service-data" name="serviceData"></textArea> </div>
					<button id="service-submit" type="button">Save</button>
				</div>

		</div>	

		<script type="application/javascript" src="/public/jquery-1.11.1.min.js"></script>
		<script type="application/javascript" src="/public/configuration.js"></script>

	</body>

</html>
